
body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #688A08;
}

.quem-somos{
    background-color: #a8262642
}

.margin{
    padding-top: 48px;
    margin-top: 2px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #aa5e5e42;
}

#servicos .margin{
    padding-top: 10px;
    margin-top: 0px;
}

#parceiros .margin{
    padding-top: 10px;
}

.servicos{
    background-color: #aa5e5e42;
}

.bg-footer{
    background-color: black;
    color: white;
}